/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    padding: 50px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of new styles */
:root {
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #38302e;
    --border-radius: .3rem;
  }

#header {
    background-color: #E60012;
    font-size: 3em;
    color: white;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom: black 4px solid;
}

#capturedata {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #E60012;
}

#results {
    background-color: darkkhaki;
}

.logo {
    width: 5%;
    height: 5%;
}

.poke-interface {
    font-family: 'Press Start 2P', cursive;
    padding-top: 10px;
    text-align: center;
    display: inline;
}

.poke-interface-render {
    font-family: 'helvetica';
    font-size: 2em;
    padding: 15px;
}

.poketext{
    font-size: 1.3em;
    font-family: "IBM Plex Sans", sans-serif;
    text-align: center;
}
.pokenameinputbox {
    width: 100%;
    font-size: 1.3em;
    margin: 20px 20px;
    font-family: "IBM Plex Sans", sans-serif;
}

.pokenameinputboxsubmit {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    margin: 10px 20px;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
    font-family: "IBM Plex Sans", sans-serif;
}

.pokenameinputboxsubmit:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
}

@media screen and (max-width: 767px){
    .pokenameinputbox {
        width: 100%;
        height: 25px;
        font-size: 16px;
        margin: 0px;
        font-family: "IBM Plex Sans", sans-serif;
    }

    .pokenameinputboxsubmit {
        font-size: 16px;
        text-decoration: none;
        padding: 0px 0px;
        margin: 10px 0px;
        border-radius: var(--border-radius);
        color: var(--primary);
        border: none;
        outline: none;
        background-color: var(--light-dark);
        box-shadow: 3px 3px var(--dark);
        transform: translate(-1px, -1px);
        font-family: "IBM Plex Sans", sans-serif;
    }

    .poke-interface{
        font-family: 'Press Start 2P', cursive;
        font-size: 16px;
    }

    .poke-interface-render {
        display: flex;
        justify-content: center;
        text-align: center;
        align-content: center;
        align-items: center;
        padding: 0px;
        margin: 0 auto;
    }

    img {
        width: 55%;
    }

    #header{
        font-size: 2em;
        padding: 15px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    body {
        padding: 0px;
    }

    input, select, textarea {
        font-size: 16px;
      }
}